{% extends "EventFinderProject/bootstrap_base.html" %}

{% load staticfiles %}

{% block header %}
  <script src="{% static 'js/events.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/events.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  {% load events_filter %}

  <div id="info_text" class="font-20 text-center" >Showing events around you - 20 Miles</div>

  <nav>
    <ul class="pager">
      <li class="{{previous}}"><a href="{{ request.path }}{{ previous_events_url }}" {{previous}} >Previous</a></li>
      <li class="{{next}}"><a href="{{ request.path }}{{ next_events_url }}" {{next}}>Next</a></li>
    </ul>
  </nav>

  <div id="events_container" class="text-center" >
  {% for event in events_list %}
    <div class="event_box">
      <img class="event_image" src="{{ event.logo.url }}">
      <div class="event-detail font-16">
        <b>{{event.name.text}}</b>
      </div>
      <div class="event-detail font-14">
         <i>{{event.description.text}}</i>
      </div>
      <div class="event-detail font-14">
         <b>Start - {{event.start.local|events_date_filter}}</b>
      </div>
      <div class="event-detail font-14">
         <b>End - {{event.end.local|events_date_filter}}</b>
      </div>
      <div class="event-detail font-14">
         <b>{{event.venue.address.city}}, {{event.venue.address.region}}</b>
      </div>
      <div class="event-detail font-14">
         <a href="{{ event.url }}"><b>Details</b></a>
      </div>
    </div>
  {% endfor %}
  </div>

  <nav>
    <ul class="pager">
      <li class="{{ previous }}"><a href="{{ request.path }}{{ previous_events_url }}" {{previous}}>Previous</a></li>
      <li class="{{ next }}"><a href="{{ request.path }}{{ next_events_url }}" {{ next }}>Next</a></li>
    </ul>
  </nav>
{% endblock %}