{% extends "EventFinderProject/bootstrap_base.html" %}

{% load staticfiles %}

{% block header %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block css %}
  <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="form_table_container">
  <div id="form_table_cell_container">
    <form id="categories_form" action="/events" method='get' >{% csrf_token %}
      <h3>Choose the top three categories</h3>
      <div id="form_error" class="alert alert-danger" role="alert">Choose no more than 3 categories</div>
      {{ form.as_p }}
      <div id="submit_button_container">
        <input id="submit_categories" text-align="center" type='submit' class="btn btn-success" disabled="true" value='Get Events' />
      </div>
    </form>
  </div>
</div>
{% endblock %}